@use "sass:color";
@use "settings";

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: color.adjust(settings.$color-dark, $lightness: 75%);
  font-family: settings.$font-text;
  font-size: 14px;
  line-height: 1.7;
  font-weight: settings.$font-normal;
  color: settings.$color-dark;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 20px;
}
