@use "settings";

.h1 {
    font-family: settings.$font-header;
    font-size: 26px;
    font-weight: settings.$font-semibold;
    text-transform: uppercase;
  }

.h2 {
  font-size: 14px;
  font-weight: settings.$font-bold;
  text-transform: uppercase;
}

.h3 {
  font-size: 12px;
  font-weight: settings.$font-bold;
  text-transform: uppercase;
}

p {
  margin: 0;
}